.site-title {
  font-family: "Yellowtail", cursive;
  font-size: 35px;
  color: white;
  margin-top: 15px;
  padding-left: 60px;
  padding-bottom: 5px;
}

nav {
  padding: 0px 20px;
  margin-bottom: -20px;
  background-color: #170b4d;
  color: white;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  border-bottom: 0px;
  font-size: 18px;
  letter-spacing: 3px;
}

nav a:hover {
  color: #8addaa;
}

nav ul {
  align-self: center;
  padding-right: 60px;
  margin-top: 15px;
}

nav li {
  list-style: none;
  display: inline;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

#header a {
  text-decoration: none;
  border-bottom: 0px;
}

#header {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bee-icon {
  height: 160px;
  margin-bottom: -13px;
}

.bee-icon:hover {
  cursor: pointer;
}

/* Class is toggled on click s*/

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spinning;
  animation-duration: 2s;
  animation-iteration-count: initial;
  animation-timing-function: linear;
}

/* About Me */

.about-me img {
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  height: auto;
}

/* Skills */

.major {
  width: 100%;
}

.major-icons img {
  height: 70px;
  margin-left: -2px;
  margin-right: -2px;
}

#skill-icons img {
  height: 55px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

ul.major-icons li {
  padding: 1.5em;
}

#expressIcon {
  height: 40px !important;
  margin-bottom: 10px;
}

/* Skills Hoverbox */
.iconContainer {
  position: relative;
  width: 50%;
}

.hoverContent {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hoverText {
  color: white;
  font-size: 18px;
  letter-spacing:1.8px;
  padding: 16px 32px;
  margin-top: -30px;
  cursor: default;
}

.iconContainer:hover img  {
  opacity: 0.3;
}

.iconContainer:hover .hoverContent {
  opacity: 1;
}

/* Projects */

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 25px;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#projects h3 {
  font-size: 26px;
}

.project-col p {
  text-align: start;
  margin-top: 55px;
}

/* fade-in animation */

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Mobile Responsiveness */

@media screen and (max-width: 980px) {
  #intro-sentence {
    display: inline-block;
    width: 100%;
  }

  .project-col p {
    margin-top: 5px;
  }

  nav {
    padding: 0px;
  }

  .site-title {
    padding-left: 20px;
  }

  nav ul {
    padding-right: 5px;
  }

  nav a {
    font-size: 15px;
    letter-spacing: 1.5px;
  }

  .bee-icon {
    height: 150px;
  }

  #about-me-img {
    height: 280px;
    width: auto;
    margin: 0 auto;
  }

  .image.fit .about-me {
    width: auto;
  }

  #resume {
    width: 100%;
    margin-bottom: 30px;
  }

  #skill-icons img {
    height: 45px;
    margin-top: 5px;
  }

  .project-icons img {
    height: 36px;
    display: inline;
    width: auto !important;
  }

  #expressIcon {
    height: 40px;
    margin-bottom: 5px !important;
  }

  .hoverText {
      font-size: 11px;
  }

  #skill-icons {
      margin-left: 10px;
  }


}

/* specifically adjust the project items to display inline */

@media screen and (max-width: 480px) {
  ul.project-icons:not(.fixed) {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 0;
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  ul.actions:not(.fixed) li:first-child {
    padding-top: 0.8em;
  }
}

/* IPAD RESPONSIVENSS */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #about-me-img {
    height: 400px;
    width: auto;
    margin: 0 auto;
  }

  #resume {
    width: 250px;
  }

  #header {
      height: 65vh;
  }

  .postgresql {
      top: 25%;
      left: 50px;
  }
}

/* iPad Pro Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #about-me-img {
    height: 450px;
  }

  #header {
      height: 40vh;
  }
}


/* GALAXY FOLD */


@media (max-width: 310px) {
  #header {
    max-width: 280px;
  }

  nav {
    max-width: 280px;
  }

  nav ul {
    padding: 0px;
  }

  nav li {
    padding: 5px;
  }
  .site-title {
    padding-left: 8px;
  }

  #about, #skills, #projects, #contact, #footer {
    max-width: 280px;
  }
}